<app-header></app-header>
<main id="main">
  <!-- Services Section - Home Page -->
  <section id="services" class="services">

    <!--  Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Services</h2>
      <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 " *ngFor="let item of alldata" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item d-flex">
            <div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
            <div>
              <h4 class="title"><a href="services-details.html" class="stretched-link">{{item.title}}</a></h4>
              <p class="description">{{item.description}}</p>
            </div>
          </div>
        </div>
        <!-- End Service Item -->


      </div>

    </div>

  </section><!-- End Services Section -->
</main>
<app-footer></app-footer>
